<div class="class="table-responsive"">
#if ($heroinfo)
 <table class="table">
<tr>
    <th>Name</th>
    <th>Age</th>
    <th>Strength</th>
    <th>Weakness</th>
</tr>
<tr>
 #foreach($hero in $heroinfo)

<td>
$hero
</td>

 #end
 </tr>
  </table>
#else
<p id="nope">No Squad!</p>
#end
<a class="btn btn-outline-dark"href="/squadform">Add New squad</a>
<a class="btn btn-outline-dark" href="/">Back to Home</a>
</div>