<h2>Create a Squad</h2>
<div class="class="table-responsive"">
#if ($squadinfo)
 <table class="table">
<tr>
    <th>Name</th>
    <th>Cause</th>
    <th>Size</th>
</tr>
<tr>
 #foreach($squad in $squadinfo)
<td>
$squad
 </td>
  #end
   </tr>
  </table>
#else
<p id="nope">No Squad!</p>
#end
<a class="w3-btn w3-blue" href="/">Back to Home</a>
</div>