<div class="container">
<div class="card card2">
<h1 id="success">Success!
</h1>
<p>Your Hero has been Added.</p>
</div>
<a class="w3-btn w3-green" href="/">Back Home</a>
<a  class="w3-btn w3-green" href="/hero">View Hero</a>
</div>