<div class="container">
<div class="card card2">
<h1 id="success">Success!
</h1>
<p>Your Squad has been saved.</p>
</div>
<a class="btn btn-outline-dark" href="/">Back Home</a>
<a  class="btn btn-outline-success" href="/hero">View your Squads</a>
</div>